@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-Thin.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-Thin.woff') format('woff'),
    url('/assets/fonts/LeagueMono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-UltraLight.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-UltraLight.woff') format('woff'),
    url('/assets/fonts/LeagueMono-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-Light.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-Light.woff') format('woff'),
    url('/assets/fonts/LeagueMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-Regular.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-Regular.woff') format('woff'),
    url('/assets/fonts/LeagueMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-Medium.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-Medium.woff') format('woff'),
    url('/assets/fonts/LeagueMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-SemiBold.woff') format('woff'),
    url('/assets/fonts/LeagueMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-Bold.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-Bold.woff') format('woff'),
    url('/assets/fonts/LeagueMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'League Mono';
  src: url('/assets/fonts/LeagueMono-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/LeagueMono-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/LeagueMono-ExtraBold.woff') format('woff'),
    url('/assets/fonts/LeagueMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
