// fonts
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

// colors
$dark-blue: #306998;
$light-blue: #5a9fd4;
$dark-yellow: #ffd43b;
$light-yellow: #ffe873;
$white: #ffffff;
$gray: #444444;
$light-gray: #bbbbbb;
